---
import Layout from "../../layouts/BaseLayout.astro";
---

<Layout
  title="Privacy Policy"
  description="privacy policy"
  pubDate={new Date(2024, 8, 19)}
  preview="/blog-placeholder-4.jpg"
>
  <h2>Welcome to Graybush Labs.</h2>
  We are working on a privacy policy. 
</Layout>
